.nav-item {
  margin: 0;

  .nav-link {
    text-transform: capitalize;
    font-weight: 700;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $text-color-dark;

  &:hover {
    color: $primary-color;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;

  @include desktop {
    padding: 10px;
  }
}

.navigation {
  padding: 20px 100px;
  transition: .3s ease;

  &.nav-bg {
    background-color: $secondary-color;
    padding: 15px 100px;

    @include desktop {
      padding: 15px 20px;
    }
  }

  @include desktop {
    padding: 20px;
    background: $secondary-color;
  }
}