body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background-color:darken($color: $primary-color, $amount: 10);
  color: $white;
}

body::-webkit-scrollbar {
  width: .5rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  outline: 2px solid #fff;
}


/* preloader */

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a:hover {
  color: $primary-color;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;

  &-title {
    margin-bottom: 30px;
  }
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.border-default {
  border-color: $border-color !important;
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $black;
    opacity: .5;
  }
}

.bg-primary {
  background-color: $primary-color !important;
}

.bg-light {
  background-color: $light !important;
}

.bg-members-box {
  background-color: $members-box !important;
}

.text-primary {
  color: $primary-color !important;
}

.rounded-lg{
  border-radius: 10px !important;
}

.shadow {
  box-shadow: 0px 46px 65px 0px rgba(181, 188, 236, 0.16) !important;
}


/* form control */
.form-control {
  height: 50px;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid $border-color;

  &:focus {
    box-shadow: none !important;
    border-color: $primary-color;
  }
}

.list-unstyled{
  li{
    margin-bottom: 10px;
  }
}

.bg-gradient-primary {
  background: $primary-gradient !important;
}

.section-border {
  height: 9px;
  width: 220px;
  background: $primary-gradient;
  border-radius: 5px;
  margin: 40px auto 0px;
}

.text-gradient-primary {
  background: $primary-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.check-mark{
  position: relative;
  padding-left: 0px;
  &::before{
    position: absolute;
    content: "\e64c";
    font-family: $icon-font;
    color: $white;
    height: 25px;
    width: 25px;
    line-height: 25px;
    background-color: $primary-color;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    left: -30px;
    top: 3px;
  }
}

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: .8;
  }

  &-primary {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: $primary-color;
      opacity: .8;
    }
  }

  &-secondary {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: $secondary-color;
      opacity: .8;
    }
  }

  &-secondary-half {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(to right, $secondary-color 60%, transparent);
    }
  }

  &-image {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}
.bg-secondary {
  background: $secondary-color !important;
}

.text-secondary {
  color: $secondary-color !important;
}

/* list style */
.list-styled {
  padding-left: 0;

  li {
    position: relative;
    padding-left: 25px;
    list-style-type: none;

    &::before {
      position: absolute;
      content: "\e65d";
      font-family: $icon-font;
      font-size: 14px;
      left: 0;
      top: 0px;
      color: $secondary-color;
      transition: .3s ease;
    }
  }
}

/* social icons */
.social-icons {
  a {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
    background: $primary-gradient;
    color: $white;
    text-align: center;
  }
}


