{{ "<!-- navigation -->" | safeHTML }}
<header class="navigation">
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-brand" href="{{ site.BaseURL }}">
        <img width="{{ site.Params.logo_width}}" class="img-fluid" src="{{ site.Params.logo | absURL }}"
          alt="{{ site.Title }}">
      </a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navigation">
        <i class="ti-menu"></i>
      </button>

      <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ .Site.BaseURL }}">{{ with .Site.Params.Home }} {{ . }} {{ end }}</a>
          </li>
          {{ range site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"> {{ .Name }}</a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | absURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | absURL }}" {{ with .Pre }} target="{{ . }}" {{ end }}>{{ .Name }}</a>
          </li>
          {{ end }}
          {{ end }}
        </ul>
        {{ if .IsDescendant (index (where .Site.Pages "CurrentSection.Title" "Learning Path") 0) }}
        <select id="langpicker" class="selectpicker" data-style="btn-light btn-sm ml-3" data-width="fit">
          <option>{{ .Site.Language.LanguageName }}</option>
          {{ range .Translations }}
          <option value="{{ .Permalink }}">{{ .Language.LanguageName }}</option>
          {{ end }}
        </select>
        {{ end }}
      </div>
    </nav>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}

<!-- first banner -->
</section>
<section class="notice btn-primary text-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 text-center">
        <!-- first banner 
        <a class="text-light" target="_blank"
          href="https://opensource.pleio.nl/groups/view/addc848f-27f8-43fa-ae68-8b8d9e4f2533/CURIOSS-kennisnetwerk-voor-publieke-organisaties/events/view/242e1544-d1df-49fa-962a-7a0703647777/CURIOSS-kennisnetwerk-open-source-software-en-het-fenomeen-CURIOSSs">
          Register for our next in-person event: The Dutch Public CURIOSS at the Ministry of the Interior and Kingdom
          Relations, The
          Hague on Friday June 9
        </a>
        -->
      </div>
    </div>
  </div>
</section>


<!-- second banner 
<section class="notice bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 text-center">
        <i class="ti-calendar mr-2"></i>Join us for our next in person Workshop, Dec 08th, at 9am EST -  <a href="https://www.eventbrite.com/e/us-oss-policy-assembly-open-source-open-science-tickets-458786291147" class="btn-link ml-1" target="_blank"> US OSS Policy Assembly: Open Source & Open Science <i class="ti-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>

-->