{{ define "main" }}

{{ if .Site.Data.homepage.home.enable }}
<!-- home -->
<section class="section">
  <div class="container">
    {{ with .Site.Data.homepage.home }}
    <div class="col-lg-10 mx-auto text-center">
      <h2>{{ .title | markdownify }}</h2>
      <p class="lead">{{ .subtitle | markdownify}}</p>
      <p class="lead">{{ .content | markdownify}}</p>
      <p class="lead text-left">{{ .header | markdownify}}</p>
      <div class="lead text-left">{{ .bullet_point | safeHTML }}</div>
      {{ end }}
    </div>
    <div class="container bg-white">
      <div class="row justify-content-center mt-4">
      </div>
      <div class="row d-flex justify-content-center">
        <a href="/about/contact/" class="btn btn-primary btn-sm">Click here to contact the CURIOSS team!</a>
      </div>
    </div>
  </div>
</section>
<!-- /home -->
{{ end }}


{{ if .Site.Data.homepage.joincurioss.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      {{ range first 3 .Site.Data.joincurioss.services }}
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="card hover-bg-secondary shadow py-4">
          <div class="card-body text-center">
            <div class="position-relative">
              <i
                class="icon-lg icon-box bg-gradient-primary rounded-circle {{ .icon }} mb-5 d-inline-block text-white"></i>
              <i class="icon-lg icon-watermark text-white {{ .icon }}"></i>
            </div>
            <h4 class="mb-4">{{ .title | markdownify }}</h4>
            <p>{{ .content | markdownify }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}


{{ end }}
