{{ define "main" }}

{{ partial "page-header.html" . }}

{{ $pages := .Data.Pages }}
{{ $yesterday := (now.AddDate 0 0 -1).Unix }}
{{ $pages = where $pages "Section" "in" "events" }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="container text-center pb-4 mb-4">
        <h3 class="display-4">Future Events</h3>
      </div>
      {{ range (where $pages ".Date.Unix" ">=" $yesterday).Reverse }}
      <div class="col-lg-4 col-sm-6 mb-5 event-card">
        <div class="card border-0">
          <a href="{{ default .Permalink .Params.redirect }}" {{ with .Params.target }} target="{{ . }}" {{ end }}>
            <img src="{{ .Params.image | absURL }}" alt="{{.Title}}" class="card-img rounded-lg mb-4">
          </a>
          <div class="card-body p-0">
            <h3><a href="{{ default .Permalink .Params.redirect }}" {{ with .Params.target }} target="{{ . }}" {{ end }}
                class="post-title">{{ .Title }}</a></h3>
            <p class="card-text event-card-text">{{ .Summary }}</p>
            <a href="{{ default .Permalink .Params.redirect }}" {{ with .Params.target }} target="{{ . }}" {{ end }}
              class="btn btn-primary btn-sm">Open Event</a>
            {{ if .Params.youtubeLink }}
            <a href="{{ .Params.youtubeLink }}" target="_blank" class="btn btn-secondary btn-sm">Watch Recording</a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ else }}
      <div class="col-md-12 text-center mb-4">
        No future events are planned currently. <a href="../about/contact/">Want to host one?</a>
      </div>
      {{ end }}
      <div class="container text-center pb-4 mb-4">
        <h3 class="display-4">Past Events</h3>
      </div>
      {{ range where $pages ".Date.Unix" "<" $yesterday }} <div class="col-lg-4 col-sm-6 mb-5 event-card">
        <div class="card border-0">
          <a href="{{ default .Permalink .Params.redirect }}" {{ with .Params.target }} target="{{ . }}" {{ end }}>
            <img src="{{ .Params.image | absURL }}" alt="{{ .Title }}" class="card-img rounded-lg mb-4">
          </a>
          <div class="card-body p-0">
            <h3><a href="{{ default .Permalink .Params.redirect }}" {{ with .Params.target }} target="{{ . }}" {{ end }}
                class="post-title">{{ .Title }}</a></h3>
            <p class="card-text event-card-text">{{ .Summary }}</p>
            <a href="{{ default .Permalink .Params.redirect }}" {{ with .Params.target }} target="{{ . }}" {{ end }}
              class="btn btn-primary btn-sm">Open Event</a>
            {{ if .Params.youtubeLink }}
            <a href="{{ .Params.youtubeLink }}" target="_blank" class="btn btn-secondary btn-sm">Watch Recording</a>
            {{ end }}
          </div>
        </div>
    </div>
    {{ end }}
    <div class="container text-left pb-4 mb-4">
      <h3 class="display-4 text-center">Past Working Groups</h3>
      <p class="lead"> {{.Content}}</p>
    </div>
  </div>
  </div>
</section>

{{ end }}